<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MemeMatch</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MemeMatch.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="mm-navbar">
        <a asp-controller="Home" asp-action="Index" class="logo">MemeMatch</a>

        <div class="mm-nav-links">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Memes" asp-action="Index">Memes</a>

            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <span class="mm-user">
                    👤 @User.Identity.Name
                </span>

                <a asp-controller="Auth" asp-action="Logout">Wyloguj</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Login</a>
            }
        </div>
    </div>

    <main class="mm-container">
        @RenderBody()
    </main>

    <footer class="mm-footer">
        © 2026 MemeMatch
    </footer>

</body>
</html>