<h2>Wynik</h2>

@if (ViewBag.IsCorrect)
{
    <p>✅ Dobrze!</p>
}
else
{
    <p>❌ Źle!</p>
}

<p>Punkty: @ViewBag.Score</p>


<div class="d-flex justify-content-center gap-3 mt-4">

    <a asp-action="NextRound"
       class="btn btn-primary btn-lg">
        Następna runda
    </a>

    <a asp-action="StartGame"
       class="btn btn-primary btn-lg">
        Zagraj ponownie
    </a>

</div>


