@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to MemeMatch</h1>

<p>
    Match, rate and enjoy the best memes on the internet 😄
</p>

<br />

<a class="btn" asp-controller="Memes" asp-action="Index">
    Browse memes
</a>@{
ViewData["Title"] = "Home";
}
