@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Me</h1>

<p>
    Match, rate and enjoy the best memes on the internet 😄
</p>

<br />


<form asp-controller="Game" asp-action="StartNewGame" method="post">
    <button type="submit" class="btn btn-primary btn-lg">
        🎮 Rozpocznij nową grę
    </button>
</form>
<form asp-controller="Auth" asp-action="Login" method="post">
    <button type="submit" class="btn btn-primary btn-lg">
        🎮 zaloguj się
    </button>
</form>
<form asp-controller="Auth" asp-action="Register" method="post">
    <button type="submit" class="btn btn-primary btn-lg">
        🎮 zarejestruj się
    </button>
</form>
<form asp-controller="Ranking" asp-action="GetRanking" method="get">
    <button type="submit" class="btn btn-primary btn-lg">
        🎮 zobacz ranking
    </button>
</form>
<form asp-controller="Stats" asp-action="GetStats" method="get">
    <button type="submit" class="btn btn-primary btn-lg">
        🎮 zobacz staty
    </button>
</form>